.about {
    .circle {
        fill: none;
        stroke: #8fdfb2;
        rotate: -90deg;
        // transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }

    .circlebg {
        stroke: #8fdfb2;
        opacity: .2;
    }

    progress {
        width: 100%;
        height: 1rem;
        color: #8fdfb2;
        background: rgba(143, 223, 178, .2);
        border-radius: 0.5rem;
    }

    /* 表示总长度背景色 */
    progress::-webkit-progress-bar {
        background-color: rgba(143, 223, 178, .2);
        border-radius: 0.5rem;
    }

    /* 表示已完成进度背景色 */
    progress::-webkit-progress-value {
        background: #8fdfb2;
        border-radius: 0.5rem;
    }

}